---
name: linuxboot build
on:
  push:

permissions:
  contents: read

jobs:
  build-coreboot-linuxboot-example:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: 'recursive'
      - name: Fetch few missing submodules
        run: |
          git submodule update --depth 1 --init --recursive --checkout

        # ANCHOR: AllFeatures
      - name: firmware-action
        uses: 9elements/firmware-action@v0.19.5
        with:
          # Required inputs
          config: 'coreboot-linuxboot-example.json'
          target: 'coreboot-example-with-linuxboot'

          # Build options
          recursive: 'true'  # Build with dependencies
          debug: 'true'      # Increase verbosity

          # Caching and artifacts
          enable-cache: 'true'
          auto-download-artifacts: 'true'
          auto-upload-artifacts: 'true'

          # Artifact configuration
          auto-upload-artifacts-if-no-files-found: 'warn'
          auto-upload-artifacts-compression-level: '6'
          auto-upload-artifacts-overwrite: 'true'

          # Remove containers and their volumes after each module is build
          prune: 'true'
        # ANCHOR_END: AllFeatures
