---
name: linuxboot build in separate jobs
on:
  push:

permissions:
  contents: read

jobs:
  build-uroot:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        release_type: ['DEBUG', 'RELEASE']
    outputs:
      artifact-name-DEBUG: ${{ steps.firmware-action.outputs.artifact-name }}
      artifact-name-RELEASE: ${{ steps.firmware-action.outputs.artifact-name }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: 'recursive'

        # ANCHOR: Parametric
      - name: firmware-action
        id: firmware-action
        uses: 9elements/firmware-action@v0.19.4
        with:
          config: 'coreboot-linuxboot-example-matrix.json'
          target: 'uroot-example-${{ matrix.release_type }}'
          recursive: 'false'
          debug: 'true'
          enable-cache: 'true'
          auto-download-artifacts: 'true'
          auto-upload-artifacts: 'true'
        env:
          RELEASE_TYPE: ${{ matrix.release_type }}
        # ANCHOR_END: Parametric

  build-linux:
    runs-on: ubuntu-latest
    needs: ['build-uroot']
    strategy:
      matrix:
        release_type: ['DEBUG', 'RELEASE']
    outputs:
      artifact-name-DEBUG: ${{ steps.firmware-action.outputs.artifact-name }}
      artifact-name-RELEASE: ${{ steps.firmware-action.outputs.artifact-name }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: 'recursive'

      - name: firmware-action
        id: firmware-action
        uses: 9elements/firmware-action@v0.19.4
        with:
          config: 'coreboot-linuxboot-example-matrix.json'
          target: 'linux-example-with-uroot-${{ matrix.release_type }}'
          recursive: 'false'
          debug: 'true'
          enable-cache: 'true'
          auto-download-artifacts: 'true'
          auto-upload-artifacts: 'true'
        env:
          RELEASE_TYPE: ${{ matrix.release_type }}

  build-coreboot:
    runs-on: ubuntu-latest
    needs: ['build-linux']
    strategy:
      matrix:
        release_type: ['DEBUG', 'RELEASE']
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: 'recursive'
      - name: Fetch few missing submodules
        run: |
          git submodule update --depth 1 --init --recursive --checkout

      - name: firmware-action
        uses: 9elements/firmware-action@v0.19.4
        with:
          config: 'coreboot-linuxboot-example-matrix.json'
          target: 'coreboot-example-with-linuxboot-${{ matrix.release_type }}'
          recursive: 'true'
          debug: 'true'
          enable-cache: 'true'
          auto-download-artifacts: 'true'
          auto-upload-artifacts: 'true'
        env:
          RELEASE_TYPE: ${{ matrix.release_type }}
